:root{
  --fire: #eb7f20;
  --black: #333333;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
 
}
html{
  background-color: var(--black);
}

.background-home{
  background-color: var(--black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Header component*/
.Header h1{
  font-size: 5rem;
  color: var(--fire);
}

/*Selector component*/
.selector{
  display: inline-flex;
}

.selection{
  padding: 3rem 0rem 0.1rem 1rem;
  margin: 0.5rem 1rem 1rem 0rem;
}
.selection button {
  font-size: 2rem;
  background: transparent;
  border-style: none;
  color: var(--fire);

}
.selection button:hover {
  font-weight: bold;
}
.underscore{
  background-color: var(--fire) ;
  width: 17rem;
  height: 0.1rem;
  transition: 1s;
  display: block;
  margin-bottom: 5rem;
}



/*Cards component*/

.Cards{
  padding-top: 5rem;
  padding-bottom: 2rem;
}
/*.Cards{
  width: 75rem;
  height: 47rem;
  border-radius: 1rem;
  
  margin: 1rem 1rem 1rem 3rem;
}*/

/*Card compoenent*/

/*.Card{
  border-radius: 1rem;
  box-shadow: grey 5px 0px 5px 5px;
  width: 30%;

}

.Card img {
  width: 100%;
  border-radius: 1rem;
}

.Card-text{
  position: absolute; 
}*/

.Card-body{
  min-height: 16rem;
 background-color: var(--black);
}
.Card-body p, .Card-body h4{
  color: var(--fire);
}


.card:hover{
  transform: scale(1.05);
}

.background-cards{
  background-color: var(--fire);
}

.btn-box{

}







